<ion-view view-title="首页">
  <ion-content  scroll="true">
    <ion-slide-box does-continue="true" auto-play="true" show-pager="true" id="ad">
      <ion-slide ng-repeat="party in parties">
        <a href="#">
          <img ng-src="{{party.cover}}"/><!--使用ng-src-->
        </a>
      </ion-slide>
    </ion-slide-box>

    <div class="row" >
      <div class="col tab1">
        <div class="ion-calendar logo1" >
        </div>
        <div class="lab1">店铺预约</div>
      </div>
      <div class="col tab1">
        <div class="ion-lightbulb  logo1" >
        </div>
        <div class="lab1">活动报名</div>
      </div>
    </div>
    <div class="row" >
      <div class="col tab2">
        <div class="ion-music-note logo2" >
        </div>
        <div class="lab2">歌曲欣赏</div>
      </div>
      <div class="col tab2">
        <div class="ion-star logo2" >
        </div>
        <div class="lab2">精彩MV</div>
      </div>
      <div class="col tab2">
        <div class="icon ion-flame logo2">
        </div>
        <div class="lab2">录音师</div>
      </div>
    </div>
    <div class="row">
      <div class="col tab1">
        <div class="ion-mic-a logo1">
        </div>
        <div class="lab1">声乐训练营</div>
      </div>
      <div class="col tab1">
        <div class="ion-person  logo1">
        </div>
        <div class="lab1">个人中心</div>
      </div>
    </div>
  </ion-content>
</ion-view>
