<ion-view view-title="活动" >
  <ion-content >
    <ion-slide-box does-continue="true" auto-play="true" show-pager="true" id="ad">
      <ion-slide ng-repeat="party in parties">
        <a href="#">
          <img ng-src="{{party.cover}}"/><!--使用ng-src-->
        </a>
      </ion-slide>
    </ion-slide-box>
    <div class="row">
      <ion-list>
        <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="party in parties"
                  type="item-text-wrap" href="#">
          <img ng-src="{{party.cover}}">

          <h2>{{party.name}}</h2>

          <p>{{party.lastText}}</p>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
