<ion-view view-title="预约">
  <ion-content>

    <div class="item item-input item-select">
      <div class="input-label">
        当前店面:
      </div>
      <select ng-options="shop.name for shop in shops" ng-model="shop" ng-change="selectedShop(shop)">
        <option value="">--选择店面--</option>
      </select>
    </div>

    <div class="row">
      <div data-tap-disabled="true" ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="booking">
      </div>
    </div>

  </ion-content>
</ion-view>
