<ion-view view-title="预约">
  <ion-content>
    <div class="row">
      <button class="button button-calm" modal-title="选择预约店面" hide-reset=true cancel-button="取消" modal-select=""
              ng-model="someObjModel" options="shops">
        请选择预约的店面
        <div class="option">
          <h2>{{option.name}}</h2>
        </div>
      </button>
    </div>
    <div class="row">
      <div data-tap-disabled="true" ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="booking"></div>
    </div>
  </ion-content>


</ion-view>
