/* Empty. Add your own CSS if you like */

ion-slide img{
  width: 100%;
  height: 220px;
}

ion-list {
  width: 100%;
}
/*tab-booking.html*/
.shop-cover{
  width: 100%;
}
/*tab-dashi.html*/
.tab1{
  margin: 1px;
  text-align: center;

  padding: 8%;
  background-color: #c4a859;
}
.tab2{
  margin: 1px;
  text-align: center;
  padding: 8%;
  background-color: rgba(228, 223, 209, 0.58);
}
.logo1{
  font-size: 2em;
  color: #ffffff;
}
.lab1{
  margin-top: 5%;
  color: #ffffff;

}

.logo2{
  font-size: 2em;
  color: #c4a859;
}
.lab2{
  margin-top: 5%;
  color: #c4a859;

}
